@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    -ms-overflow-style: none;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    scroll-behavior: smooth;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
  }
  body {
    @apply bg-gray-50 dark:bg-gray-900 text-gray-800 dark:text-gray-50 font-sans overflow-x-hidden;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-serif;
  }
  #toggle-switch::after {
    content: '';
    @apply h-14 w-14 rounded-full bg-neon absolute left-0 top-0 transform scale-100 transition duration-200;
  }
  #toggle-switch:checked::after {
    /* content: ''; */
    @apply transform scale-100 translate-x-16;
  }
}
